/bin/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
.recommenders
/target/
build/
RemoteSystemsTempFiles

#Fichiers logs de JADE
APDescription.txt
MTPs-Main-Container.txt
simuAgences.xml
/simuAgences.xml.lck
